ProRadiRS/ProRadiRS/Service References/ProRadiRSService2/ProRadiRSService221.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50189/ProRadiRSService2.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50189/ProRadiRSService2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50189/ProRadiRSService2.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50189/ProRadiRSService2.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProRadiRSService2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProRadiRSService2_AutoLoginCheck_InputMessage">
    <wsdl:part name="parameters" element="AutoLoginCheck" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_AutoLoginCheck_OutputMessage">
    <wsdl:part name="parameters" element="AutoLoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_GetSentenceData_InputMessage">
    <wsdl:part name="parameters" element="GetSentenceData" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_GetSentenceData_OutputMessage">
    <wsdl:part name="parameters" element="GetSentenceDataResponse" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_GetChangeHistory_InputMessage">
    <wsdl:part name="parameters" element="GetChangeHistory" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_GetChangeHistory_OutputMessage">
    <wsdl:part name="parameters" element="GetChangeHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_SaveReport_InputMessage">
    <wsdl:part name="parameters" element="SaveReport" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_SaveReport_OutputMessage">
    <wsdl:part name="parameters" element="SaveReportResponse" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_SaveReportImage_InputMessage">
    <wsdl:part name="parameters" element="SaveReportImage" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_SaveReportImage_OutputMessage">
    <wsdl:part name="parameters" element="SaveReportImageResponse" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_UpdateSentence_InputMessage">
    <wsdl:part name="parameters" element="UpdateSentence" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_UpdateSentence_OutputMessage">
    <wsdl:part name="parameters" element="UpdateSentenceResponse" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_GetImageExt_InputMessage">
    <wsdl:part name="parameters" element="GetImageExt" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_GetImageExt_OutputMessage">
    <wsdl:part name="parameters" element="GetImageExtResponse" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_DeleteSentence_InputMessage">
    <wsdl:part name="parameters" element="DeleteSentence" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_DeleteSentence_OutputMessage">
    <wsdl:part name="parameters" element="DeleteSentenceResponse" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="GetUserList" />
  </wsdl:message>
  <wsdl:message name="IProRadiRSService2_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="GetUserListResponse" />
  </wsdl:message>
  <wsdl:portType name="IProRadiRSService2">
    <wsdl:operation name="AutoLoginCheck">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/AutoLoginCheck" message="IProRadiRSService2_AutoLoginCheck_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/AutoLoginCheckResponse" message="IProRadiRSService2_AutoLoginCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSentenceData">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/GetSentenceData" message="IProRadiRSService2_GetSentenceData_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/GetSentenceDataResponse" message="IProRadiRSService2_GetSentenceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChangeHistory">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/GetChangeHistory" message="IProRadiRSService2_GetChangeHistory_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/GetChangeHistoryResponse" message="IProRadiRSService2_GetChangeHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveReport">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/SaveReport" message="IProRadiRSService2_SaveReport_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/SaveReportResponse" message="IProRadiRSService2_SaveReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveReportImage">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/SaveReportImage" message="IProRadiRSService2_SaveReportImage_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/SaveReportImageResponse" message="IProRadiRSService2_SaveReportImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSentence">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/UpdateSentence" message="IProRadiRSService2_UpdateSentence_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/UpdateSentenceResponse" message="IProRadiRSService2_UpdateSentence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageExt">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/GetImageExt" message="IProRadiRSService2_GetImageExt_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/GetImageExtResponse" message="IProRadiRSService2_GetImageExt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSentence">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/DeleteSentence" message="IProRadiRSService2_DeleteSentence_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/DeleteSentenceResponse" message="IProRadiRSService2_DeleteSentence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="urn:IProRadiRSService2/GetUserList" message="IProRadiRSService2_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IProRadiRSService2/GetUserListResponse" message="IProRadiRSService2_GetUserList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>