ProRadiRS/ProRadiRS/Service References/ProRadiRSService2/ProRadiRSService23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProRadiRSService2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProRadiRSService2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserMst2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMst2" nillable="true" type="tns:UserMst2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMst2" nillable="true" type="tns:ArrayOfUserMst2" />
  <xs:complexType name="UserMst2">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserCD" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMst2" nillable="true" type="tns:UserMst2" />
</xs:schema>