OrderTool_Sys_Edit/OrderTool/Service References/QRService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DicomQR" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IDicomQR_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfDicomQRContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDicomQR_GetNodeNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeNames" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_GetNodeNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_StudyFind_InputMessage">
    <wsdl:part name="parameters" element="tns:StudyFind" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_StudyFind_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudyFindResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_SeriesFind_InputMessage">
    <wsdl:part name="parameters" element="tns:SeriesFind" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_SeriesFind_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeriesFindResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_ImageFind_InputMessage">
    <wsdl:part name="parameters" element="tns:ImageFind" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_ImageFind_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImageFindResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_StudyMove_InputMessage">
    <wsdl:part name="parameters" element="tns:StudyMove" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_StudyMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudyMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_SeriesMove_InputMessage">
    <wsdl:part name="parameters" element="tns:SeriesMove" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_SeriesMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeriesMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_ImageMove_InputMessage">
    <wsdl:part name="parameters" element="tns:ImageMove" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_ImageMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImageMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_StudyFindEx_InputMessage">
    <wsdl:part name="parameters" element="tns:StudyFindEx" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_StudyFindEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudyFindExResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_SeriesFindEx_InputMessage">
    <wsdl:part name="parameters" element="tns:SeriesFindEx" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_SeriesFindEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeriesFindExResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_ImageFindEx_InputMessage">
    <wsdl:part name="parameters" element="tns:ImageFindEx" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_ImageFindEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImageFindExResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_StudyMoveEx_InputMessage">
    <wsdl:part name="parameters" element="tns:StudyMoveEx" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_StudyMoveEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudyMoveExResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_SeriesMoveEx_InputMessage">
    <wsdl:part name="parameters" element="tns:SeriesMoveEx" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_SeriesMoveEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeriesMoveExResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_ImageMoveEx_InputMessage">
    <wsdl:part name="parameters" element="tns:ImageMoveEx" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_ImageMoveEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImageMoveExResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_EchoEx_InputMessage">
    <wsdl:part name="parameters" element="tns:EchoEx" />
  </wsdl:message>
  <wsdl:message name="IDicomQR_EchoEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoExResponse" />
  </wsdl:message>
  <wsdl:portType name="IDicomQR">
    <wsdl:operation name="GetNodeNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/GetNodeNames" message="tns:IDicomQR_GetNodeNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/GetNodeNamesResponse" message="tns:IDicomQR_GetNodeNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudyFind">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/StudyFind" message="tns:IDicomQR_StudyFind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/StudyFindResponse" message="tns:IDicomQR_StudyFind_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeriesFind">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/SeriesFind" message="tns:IDicomQR_SeriesFind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/SeriesFindResponse" message="tns:IDicomQR_SeriesFind_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImageFind">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/ImageFind" message="tns:IDicomQR_ImageFind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/ImageFindResponse" message="tns:IDicomQR_ImageFind_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudyMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/StudyMove" message="tns:IDicomQR_StudyMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/StudyMoveResponse" message="tns:IDicomQR_StudyMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeriesMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/SeriesMove" message="tns:IDicomQR_SeriesMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/SeriesMoveResponse" message="tns:IDicomQR_SeriesMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImageMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/ImageMove" message="tns:IDicomQR_ImageMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/ImageMoveResponse" message="tns:IDicomQR_ImageMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudyFindEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/StudyFindEx" message="tns:IDicomQR_StudyFindEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/StudyFindExResponse" message="tns:IDicomQR_StudyFindEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeriesFindEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/SeriesFindEx" message="tns:IDicomQR_SeriesFindEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/SeriesFindExResponse" message="tns:IDicomQR_SeriesFindEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImageFindEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/ImageFindEx" message="tns:IDicomQR_ImageFindEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/ImageFindExResponse" message="tns:IDicomQR_ImageFindEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudyMoveEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/StudyMoveEx" message="tns:IDicomQR_StudyMoveEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/StudyMoveExResponse" message="tns:IDicomQR_StudyMoveEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeriesMoveEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/SeriesMoveEx" message="tns:IDicomQR_SeriesMoveEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/SeriesMoveExResponse" message="tns:IDicomQR_SeriesMoveEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImageMoveEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/ImageMoveEx" message="tns:IDicomQR_ImageMoveEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/ImageMoveExResponse" message="tns:IDicomQR_ImageMoveEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/Echo" message="tns:IDicomQR_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/EchoResponse" message="tns:IDicomQR_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EchoEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IDicomQR/EchoEx" message="tns:IDicomQR_EchoEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDicomQR/EchoExResponse" message="tns:IDicomQR_EchoEx_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IDicomQR" type="tns:IDicomQR">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IDicomQR_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetNodeNames">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/GetNodeNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudyFind">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/StudyFind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeriesFind">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/SeriesFind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageFind">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/ImageFind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudyMove">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/StudyMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeriesMove">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/SeriesMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageMove">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/ImageMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudyFindEx">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/StudyFindEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeriesFindEx">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/SeriesFindEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageFindEx">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/ImageFindEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudyMoveEx">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/StudyMoveEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeriesMoveEx">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/SeriesMoveEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageMoveEx">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/ImageMoveEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoEx">
      <soap12:operation soapAction="http://tempuri.org/IDicomQR/EchoEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DicomQR">
    <wsdl:port name="NetNamedPipeBinding_IDicomQR" binding="tns:NetNamedPipeBinding_IDicomQR">
      <soap12:address location="net.pipe://localhost/WcfDicomQRService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/WcfDicomQRService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/matsuda-PC</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>